@font-face {
    src: url("/a");
    unicode-range: U+0061;
    font-family: steal;
 }
 @font-face {
    src: url("/b");
    unicode-range: U+0062;
    font-family: steal;    
 }
 @font-face {
    src: url("/c");
    unicode-range: U+0063;
    font-family: steal;    
 }
 @font-face {
    src: url("/d");
    unicode-range: U+0064;
    font-family: steal;
 }
 @font-face {
    src: url("/e");
    unicode-range: U+0065;
    font-family: steal;
 }
 @font-face {
    src: url("/f");
    unicode-range: U+0066;
    font-family: steal;
 }
 @font-face {
    src: url("/g");
    unicode-range: U+0067;
    font-family: steal;
 }
 @font-face {
    src: url("/h");
    unicode-range: U+0068;
    font-family: steal;
 }
 @font-face {
    src: url("/i");
    unicode-range: U+0069;
    font-family: steal;
 }
 @font-face {
    src: url("/j");
    unicode-range: U+006a;
    font-family: steal;
 }
 @font-face {
    src: url("/k");
    unicode-range: U+006b;
    font-family: steal;
 }
 @font-face {
    src: url("/l");
    unicode-range: U+006c;
    font-family: steal;
 }
 @font-face {
    src: url("/m");
    unicode-range: U+006d;
    font-family: steal;
 }
 @font-face {
    src: url("/n");
    unicode-range: U+006e;
    font-family: steal;    
 }
 @font-face {
    src: url("/o");
    unicode-range: U+006f;
    font-family: steal;
 }
 @font-face {
    src: url("/p");
    unicode-range: U+0070;
    font-family: steal;
 }
 @font-face {
    src: url("/q");
    unicode-range: U+0071;
    font-family: steal;
 }
 @font-face {
    src: url("/r");
    unicode-range: U+0072;
    font-family: steal;
 }
 @font-face {
    src: url("/s");
    unicode-range: U+0073;
    font-family: steal;
 }
 @font-face {
    src: url("/t");
    unicode-range: U+0074;
    font-family: steal;
 }
 @font-face {
    src: url("/u");
    unicode-range: U+0075;
    font-family: steal;    
 }
 @font-face {
    src: url("/v");
    unicode-range: U+0076;
    font-family: steal;
 }
 @font-face {
    src: url("/w");
    unicode-range: U+0077;
    font-family: steal;
 }
 @font-face {
    src: url("/x");
    unicode-range: U+0078;
    font-family: steal;
 }
 @font-face {
    src: url("/y");
    unicode-range: U+0079;
    font-family: steal;    
 }
 @font-face {
    src: url("/z");
    unicode-range: U+007a;
    font-family: steal;    
 }
 