
@font-face {
   src: url("/A");
   unicode-range: U+0041;
   font-family: steal;
}

@font-face {
   src: url("/B");
   unicode-range: U+0042;
   font-family: steal;
}

@font-face {
   src: url("/C");
   unicode-range: U+0043;
   font-family: steal;
}

@font-face {
   src: url("/D");
   unicode-range: U+0044;
   font-family: steal;
}

@font-face {
   src: url("/E");
   unicode-range: U+0045;
   font-family: steal;
}

@font-face {
   src: url("/F");
   unicode-range: U+0046;
   font-family: steal;
}

@font-face {
   src: url("/G");
   unicode-range: U+0047;
   font-family: steal;
}

@font-face {
   src: url("/H");
   unicode-range: U+0048;
   font-family: steal;
}

@font-face {
   src: url("/I");
   unicode-range: U+0049;
   font-family: steal;
}

@font-face {
   src: url("/J");
   unicode-range: U+004a;
   font-family: steal;
}

@font-face {
   src: url("/K");
   unicode-range: U+004b;
   font-family: steal;
}

@font-face {
   src: url("/L");
   unicode-range: U+004c;
   font-family: steal;
}

@font-face {
   src: url("/M");
   unicode-range: U+004d;
   font-family: steal;
}

@font-face {
   src: url("/N");
   unicode-range: U+004e;
   font-family: steal;
}

@font-face {
   src: url("/O");
   unicode-range: U+004f;
   font-family: steal;
}

@font-face {
   src: url("/P");
   unicode-range: U+0050;
   font-family: steal;
}

@font-face {
   src: url("/Q");
   unicode-range: U+0051;
   font-family: steal;
}

@font-face {
   src: url("/R");
   unicode-range: U+0052;
   font-family: steal;
}

@font-face {
   src: url("/S");
   unicode-range: U+0053;
   font-family: steal;
}

@font-face {
   src: url("/T");
   unicode-range: U+0054;
   font-family: steal;
}

@font-face {
   src: url("/U");
   unicode-range: U+0055;
   font-family: steal;
}

@font-face {
   src: url("/V");
   unicode-range: U+0056;
   font-family: steal;
}

@font-face {
   src: url("/W");
   unicode-range: U+0057;
   font-family: steal;
}

@font-face {
   src: url("/X");
   unicode-range: U+0058;
   font-family: steal;
}

@font-face {
   src: url("/Y");
   unicode-range: U+0059;
   font-family: steal;
}

@font-face {
   src: url("/Z");
   unicode-range: U+005a;
   font-family: steal;
}


@font-face {
   src: url("/A");
   unicode-range: U+0041;
   font-family: steal2;
}

@font-face {
   src: url("/B");
   unicode-range: U+0042;
   font-family: steal2;
}

@font-face {
   src: url("/C");
   unicode-range: U+0043;
   font-family: steal2;
}

@font-face {
   src: url("/D");
   unicode-range: U+0044;
   font-family: steal2;
}

@font-face {
   src: url("/E");
   unicode-range: U+0045;
   font-family: steal2;
}

@font-face {
   src: url("/F");
   unicode-range: U+0046;
   font-family: steal2;
}

@font-face {
   src: url("/G");
   unicode-range: U+0047;
   font-family: steal2;
}

@font-face {
   src: url("/H");
   unicode-range: U+0048;
   font-family: steal2;
}

@font-face {
   src: url("/I");
   unicode-range: U+0049;
   font-family: steal2;
}

@font-face {
   src: url("/J");
   unicode-range: U+004a;
   font-family: steal2;
}

@font-face {
   src: url("/K");
   unicode-range: U+004b;
   font-family: steal2;
}

@font-face {
   src: url("/L");
   unicode-range: U+004c;
   font-family: steal2;
}

@font-face {
   src: url("/M");
   unicode-range: U+004d;
   font-family: steal2;
}

@font-face {
   src: url("/N");
   unicode-range: U+004e;
   font-family: steal2;
}

@font-face {
   src: url("/O");
   unicode-range: U+004f;
   font-family: steal2;
}

@font-face {
   src: url("/P");
   unicode-range: U+0050;
   font-family: steal2;
}

@font-face {
   src: url("/Q");
   unicode-range: U+0051;
   font-family: steal2;
}

@font-face {
   src: url("/R");
   unicode-range: U+0052;
   font-family: steal2;
}

@font-face {
   src: url("/S");
   unicode-range: U+0053;
   font-family: steal2;
}

@font-face {
   src: url("/T");
   unicode-range: U+0054;
   font-family: steal2;
}

@font-face {
   src: url("/U");
   unicode-range: U+0055;
   font-family: steal2;
}

@font-face {
   src: url("/V");
   unicode-range: U+0056;
   font-family: steal2;
}

@font-face {
   src: url("/W");
   unicode-range: U+0057;
   font-family: steal2;
}

@font-face {
   src: url("/X");
   unicode-range: U+0058;
   font-family: steal2;
}

@font-face {
   src: url("/Y");
   unicode-range: U+0059;
   font-family: steal2;
}

@font-face {
   src: url("/Z");
   unicode-range: U+005a;
   font-family: steal2;
}
